.exp {
  overflow: hidden;
}

.exp img {
  transition: all 1.5s ease;
}

.exp:hover img {
  transform: scale(1.25);
}

.cardhov:hover {
  transform: scale(1.06);
  transition: all 1.5s ease;
}

.face {
  width: 40rem;
  height: 40rem;
  object-fit: cover;
}

.cardhov {
  background: rgb(249, 210, 217);
}
